<div class="wrapper">
    <!--Top menu -->
    <div class="sidebar">
       <!--profile image & text-->
        <!--menu item-->
        <ul>
         
          
          
          <li>
              <a (click)="getClass1()" [ngClass]="State1" href="societe" >
                  <span class="icon">
                    <i class="fas fa-desktop"></i>
                  </span>
                  <span class="item">List societes</span>
              </a>
          </li>
           <li>
            <a (click)="getClass2()" [ngClass]="State2" href="create_societe">
                <span class="icon"><i class="fas fa-home"></i></span>
                <span class="item">Create societe</span>
            </a>
            </li>
          <li>
              <a href="#">
                  <span class="icon"><i class="fas fa-user-friends"></i></span>
                  <span class="item">People</span>
              </a>
          </li>
          <li>
              <a href="#">
                  <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
                  <span class="item">Perfomance</span>
              </a>
          </li>
          <li>
              <a href="#">
                  <span class="icon"><i class="fas fa-database"></i></span>
                  <span class="item">Development</span>
              </a>
          </li>
          <li>
              <a href="#">
                  <span class="icon"><i class="fas fa-chart-line"></i></span>
                  <span class="item">Reports</span>
              </a>
          </li>
          <li>
              <a href="#">
                  <span class="icon"><i class="fas fa-user-shield"></i></span>
                  <span class="item">Admin</span>
              </a>
          </li>
          <li>
              <a href="#">
                  <span class="icon"><i class="fas fa-cog"></i></span>
                  <span class="item">Settings</span>
              </a>
          </li>
      </ul>
    </div>

</div>